[core]
	excludesfile = /Users/kawamataryou/.gitignore_global
	autocrlf = input
[user]
	name = kawamataryou
  {{- if eq .chezmoi.hostname "kawamataryounoMacBook-Pro" }}
	email = ba068082@gmail.com
  {{- end }}
