#!/bin/sh
set -eu

{{ if eq .chezmoi.os "darwin" }}

BREWFILE="$HOME/Brewfile"

if [ ! -f "$BREWFILE" ]; then
  echo "Brewfile not found: $BREWFILE"
  exit 1
fi

# run_once_before で Homebrew インストール済み、PATH に追加
eval "$(/opt/homebrew/bin/brew shellenv)"

brew bundle --file "$BREWFILE"

{{ end }}
